.elements__like {
    margin: 30px 20px 0 0;
    width: 22px;
    max-height: 19px;
    background-image: url(../../../images/like.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    background-color: #fff;
}

.elements__like:hover {
    opacity: 0.6;
    cursor: pointer;
}

.elements__like:focus {
    opacity: 1;
    background-image: url(../../../images/activelike.png);
}